<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978201229384-p2rndj77q005l13n07jq8pfemq0md7ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978201229384-p2rndj77q005l13n07jq8pfemq0md7ob</string>
	<key>API_KEY</key>
	<string>AIzaSyCvTJlfefPV0llE0hHcK6IysXh5AYYlQVU</string>
	<key>GCM_SENDER_ID</key>
	<string>978201229384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdb.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-8f64e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-8f64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978201229384:ios:469f11467e997a0852407d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-8f64e.firebaseio.com</string>
</dict>
</plist>